@{
    ViewData["Title"] = "Home Page";
}

@{
    <!DOCTYPE html>
<html>
    <head>
        <title>AllClient</title>
        <style>
        table.table-hover tbody tr:hover{
            background-color:#BCECE0;
        }
        
        </style>
    </head>
    <body>
        <h2>All clients page</h2>
        <table class="table table-bordred table-striped table-hover">
        <thead>
        <tr><th>nom</th><th colspan="3">adress</th><th>nom</th></tr>
        </thead>
        <tbody>
                @foreach (Client client in Model)
                {
                    <tr>
                        <td>@client.ClientNom</td>
                        <td>@client.LocationRue</td>
                        <td>@client.LocationVille</td>
                        <td>@client.LocationPays</td>
                        <td>@client.Type_C</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
}
